.nxtwave{
    height: 60px;
    width: 80px;
   
    
}
body{
    display: flex;
    background-color: rgb(141, 184, 220);
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header{
    display: flex;
    flex-direction: row;
    gap:20px;
    margin: 0%;
    background-attachment: fixed;
    background-color: rgb(172, 216, 165);
    padding: 10px;
}
.main{
    display: flex;
    min-height: 50vh;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    font-size: 80px;
    color: blue;
}
.text{
    display: flex;
    gap:20px;
    font-size: large;
    
}
.btn{
    background-color: blue;
    color: aliceblue;
    width: 100px;
    height: 50px;
    border-radius: 15px;
}
.btn1{
    display: flex;
    align-items: center;
    justify-content: center;
     background-color: blue;
    color: aliceblue;
    width: 100px;
    height: 50px;
    border-radius: 15px;
}
.justify{
    display: flex;
    flex-direction: column;
    align-items: center;
}
